packaging_format = 2

id = "domoticz"
name = "Domoticz"
description.en = "Lightweight Home Automation System"
description.fr = "Système domotique léger"

version = "2025.2~ynh2"

maintainers = ["Krakinou"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://domoticz.com/"
admindoc = "https://www.domoticz.com/wiki/Main_Page"
userdoc = "https://www.domoticz.com/DomoticzManual.pdf"
code = "https://github.com/domoticz/domoticz"
cpe = "cpe:2.3:a:domoticz:domoticz"
fund = "https://www.paypal.com/donate?token=rF_gUybGmQGia_jzLfu3vkeXRqYLRV-v-BxCTylrTsEN4mB-nDdSVQhg3a-I9LkiqORq70Gtxbo6rq3r&locale.x=US"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = [ "amd64", "armhf", "arm64" ]
multi_instance = false

ldap = false

sso = false

disk = "100M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/domoticz"

    [install.init_main_permission]
    type = "group"
    default = "all_users"

    [install.mqtt_domain]
    ask.fr = "Domaine MQTT"
    ask.en = "MQTT domain"
    help.fr = "Domaine pour le serveur MQTT. Remettez le domaine principal ou à vide si vous ne souhaitez pas l'utiliser. Lire la documentation pour plus d'informations"
    help.en = "MQTT server domain. Set blank or the main domain if you don't wish to use it. See the doc for more info"
    type = "domain"
    optional = true

[resources]
        [resources.sources.main]
        arm64.url = "https://github.com/domoticz/domoticz/releases/download/2025.2/domoticz_linux_aarch64.tgz"
        arm64.sha256 = "a9326ab424665712013e12189e7116bfdfb3c81b9b718094005176de3968d357"
        armhf.url = "https://github.com/domoticz/domoticz/releases/download/2025.2/domoticz_linux_armv7l.tgz"
        armhf.sha256 = "a423b7913d3e24b0c4fb489a333c481bd15cd5ee650f094a78a204f479d96aa5"
        amd64.url = "https://github.com/domoticz/domoticz/releases/download/2025.2/domoticz_linux_x86_64.tgz"
        amd64.sha256 = "9685988fcd33ade8572a772b2507eba57f95954adf4f5905b528eaa0db0f4765"
        format="tar.gz"
        in_subdir=false
        extract=true

        autoupdate.strategy = "latest_github_release"

        autoupdate.asset.arm64 = ".*domoticz_linux_aarch64.tgz"
        autoupdate.asset.amd64 = ".*domoticz_linux_x86_64.tgz"
        autoupdate.asset.armhf = ".*domoticz_linux_armv7l.tgz"

        [resources.system_user]

        [resources.install_dir]

        [resources.permissions]
        main.url = "/"
        main.auth_header = false

        api.url = "__DOMAIN__/api_/__APP__"
        api.show_tile = false
        api.allowed = "visitors"

        #Permission will be removed by the install script if not needed
        mqtt.url = "__MQTT_DOMAIN__/"
        mqtt.show_tile = false
        mqtt.allowed = "visitors"

        [resources.ports]
        main.default = 8080
        #to be checked if it can become conditionnal
        #ports will always be provisionned... don't know if it's an issue...
        mqtt.default = 1883
        mqtt_websocket.default = 8883

        [resources.apt]
        packages = "libudev-dev, python3-dev, libcurl4, libusb-0.1-4"
        packages_from_raw_bash = """
        if [ "$mqtt_domain" != "$domain" ]; then
            echo mosquitto mosquitto-clients;
        fi;
        """

