packaging_format = 2

id = "domoticz"
name = "Domoticz"
description.en = "Lightweight Home Automation System"
description.fr = "Système domotique léger"

version = "2024.3~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://domoticz.com/"
admindoc = "https://www.domoticz.com/wiki/Main_Page"
userdoc = "https://www.domoticz.com/DomoticzManual.pdf"
code = "https://github.com/domoticz/domoticz"
cpe = "cpe:2.3:a:domoticz:domoticz"
fund = "https://www.paypal.com/donate?token=rF_gUybGmQGia_jzLfu3vkeXRqYLRV-v-BxCTylrTsEN4mB-nDdSVQhg3a-I9LkiqORq70Gtxbo6rq3r&locale.x=US"

[integration]
yunohost = ">= 11.2"
architectures = [ "amd64", "armhf", "arm64" ]
multi_instance = false

ldap = false

sso = false

disk = "100M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/domoticz"

    [install.init_main_permission]
    type = "group"
    default = "all_users"

    [install.mqtt_domain]
    ask.fr = "Domaine MQTT"
    ask.en = "MQTT domain"
    help.fr = "Domaine pour le serveur MQTT. Remettez le domaine principal ou à vide si vous ne souhaitez pas l'utiliser. Lire la documentation pour plus d'informations"
    help.en = "MQTT server domain. Set blank or the main domain if you don't wish to use it. See the doc for more info"
    type = "domain"
    optional = true

[resources]
        [resources.sources.main]
        arm64.url = "https://github.com/domoticz/domoticz/releases/download/2024.3/domoticz_linux_aarch64.tgz"
        arm64.sha256 = "69ae855a54b8425ae77a899e415e2fbd7a8b79d81ca19c6fbad6b95748117168"
        armhf.url = "https://github.com/domoticz/domoticz/releases/download/2024.3/domoticz_linux_armv7l.tgz"
        armhf.sha256 = "9884ab81e877b0c9d3c6f12b263127e5971151fda7b55be7da65dd6978ad1db1"
        amd64.url = "https://github.com/domoticz/domoticz/releases/download/2024.3/domoticz_linux_x86_64.tgz"
        amd64.sha256 = "ff1d7c99ad8d8097e0082e277bc5b5764ca25c676e510d05f70e477feb3382d1"
        format="tar.gz"
        in_subdir=false
        extract=true

        autoupdate.strategy = "latest_github_release"

        autoupdate.asset.arm64 = "*_aarch64.tgz"
        autoupdate.asset.amd64 = "*_x86_64.tgz"
        autoupdate.asset.armhf = "*_armhf.tgz"
        
        [resources.system_user]

        [resources.install_dir]

        [resources.permissions]
        main.url = "/"
        main.auth_header = false

        api.url = "__DOMAIN__/api_/__APP__"
        api.show_tile = false
        api.allowed = "visitors"

        #Permission will be removed by the install script if not needed
        mqtt.url = "__MQTT_DOMAIN__/"
        mqtt.show_tile = false
        mqtt.allowed = "visitors"

        [resources.ports]
        main.default = 8080
        #to be checked if it can become conditionnal
        #ports will always be provisionned... don't know if it's an issue...
        mqtt.default = 1883
        mqtt_websocket.default = 8883

        [resources.apt]
        packages = "libudev-dev, python3-dev, libcurl4, libusb-0.1-4"
        packages_from_raw_bash = '''if [ "$mqtt_domain" != "$domain" ]; then echo mosquitto mosquitto-clients; fi'''

